<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.PersonelTrackingConnectionString"
            connectionString="Data Source=DESKTOP-PR05T5L\MSSQLSERVER2022;Initial Catalog=PersonelTracking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>